.single-doctor{
    font-family: 'Poppins', sans-serif;
    color:darkgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 14px;
    box-shadow: aliceblue saddlebrown;
    background-color: wheat;

}