.carousel{
    margin: 30px;
    padding: 15px;
}
.carousel h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
.carousel p {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}